<html>
  <head>
    <title>NUWave Video Feed</title>
  </head>
  <body>
    <div>
      <button onclick="window.location.href='/start_saving'">START SAVING</button>
      <button onclick="window.location.href='/stop_saving'">STOP SAVING</button>
      <button onclick="window.location.href='/save_frame'">SAVE ONE FRAME</button>
      <span>IS SAVING?: {{ is_saving }}</span>
    </div>
    <image src="{{ image_data }}"></image>
    <!-- <div style="display: flex">
      <img src="/video_feed/5600" style="flex: 50%">
      <img src="/video_feed/5601" style="flex: 50%">
    </div> -->
  </body>
</html>
